/** Shopify CDN: Minification failed

Line 27:2 Unexpected "{"
Line 27:3 Expected identifier but found "%"
Line 36:2 Unexpected "{"
Line 36:3 Expected identifier but found "%"
Line 37:4 Unexpected "{"
Line 37:5 Expected identifier but found "%"
Line 42:8 Unexpected "{"
Line 42:9 Expected identifier but found "%"

**/
.product-recommendations {
  display: block;
}

.product-recommendations__heading {
  margin: 0;
  margin-bottom: 3rem;
}

/* New CSS starts  */

    .deskCount,.mobCount{
    display:none;
  }
  {% if section.settings.apply_carousel == true %}
  .carousel.product-recommendations ul.owl-carousel .grid__item{
      max-width:100%;
      width:100%;
  }
    .carousel .media--transparent{
      height:auto;
          padding-bottom: 100%;
  }
  {% endif %}
    {% if section.settings.apply_carousel == false %}
.product-recommendations .media--transparent{
      height:auto;
      padding-bottom: 100%;
  }
        {% endif %}
/* New CSS ends  */
